@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 16px;
}

.demo-container {
    width: 100vw;
    min-height: 100vh;
    background: radial-gradient(farthest-corner at 50% 50%, #6270a4, #3B4465);
    font-family: "Oxygen Mono", sans-serif;
    overflow: hidden;
}

.phone-back, .demo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.phone-screen {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.phone-screen-login {
    width: 18rem;
    height: 32rem;
    background: #070c2c;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.app {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
}

.app-header {
    height: 4.5rem;
    width: 100%;
    position: relative;
    font-family: "SDSamliphopangche_Basic", sans-serif;
    font-size: 0.9rem;
    z-index: 200;

    display: flex; /* app-caption과 input-group을 가로로 배열하기 위해 추가 */
    justify-content: space-between; /* 요소 사이의 간격을 최대화하여 간격 조절 */
    align-items: center; /* 요소들을 세로 중앙으로 정렬 */
}

.app-header-login {
    height: 20rem;
    width: 100%;
    position: relative;
    font-family: "Courgette", sans-serif;
    font-size: 1.5rem;
    z-index: 200;

    display: flex; /* app-caption과 input-group을 가로로 배열하기 위해 추가 */
    justify-content: space-between; /* 요소 사이의 간격을 최대화하여 간격 조절 */
    align-items: center; /* 요소들을 세로 중앙으로 정렬 */
}

.menu-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 201;
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 1.4rem;
    height: 2px;
    height: 2px;
    background: #181f57;
    margin: 2px;
}

.app-caption {
    width: 100%;
    position: absolute;
    top: 0;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: #181f57;
    font-weight: 700;

}

.app-caption-login {
    width: 100%;
    position: absolute;
    top: 0;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: #ffffff;
    font-weight: 700;

    position: absolute; /* 위치를 조정하기 위해 절대 위치 지정 */
    top: 15%; /* 현재 위치에서 아래로 50% 이동 */
    transform: translateY(50%); /* 이동한 위치를 다시 조정 */
    font-family: "Courgette", sans-serif;
    font-size: 1.5rem;

}

.photo-container {
    height: 22rem;
    position: relative;
    cursor: -webkit-grab;
    cursor: grab;
}

.bg-pic {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.bg-active {
    opacity: 0.2;
}

.back-button {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    text-align: center;
    cursor: pointer;
}
.back-button span {
    font-size: 1.3rem;
    color: white;
    line-height: 3rem;
    margin-right: 0.1rem;
}

.photo {
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 1.5rem;
    top: 2.5rem;
    background: white;
    box-shadow: 0 0 6px black;
    background-size: cover;
    background-position: center;
    will-change: transform, opacity;
}

.photo-caption, .photo-info {
    color: #070a1b;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 12rem, 0);
    transition: all 0.3s ease-out;
    width: 18rem;
    position: relative;
    left: -1.5rem;
    will-change: transform, opacity;
}

.ph-info-active {
    opacity: 1;
    transform: translate3d(0, 18rem, 0);
}

.photo-caption {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: "Courgette", sans-serif;
}

.photo-info {
    transition-delay: 0.2s;
    font-family: "Lato", sans-serif;
}

.photo-counter {
    position: absolute;
    bottom: 1.5rem;
    height: 1.5rem;
    width: 50%;
    left: 25%;
    text-align: center;
    color: #020207;
}

.photo-0 {
    background-image: url("https://kiyutink.github.io/sidney/sidney1.jpg");
}

.photo-1 {
    background-image: url("https://kiyutink.github.io/nyc/nyc1.jpg");
}

.photo-2 {
    background-image: url("https://kiyutink.github.io/beijing/beijing1.jpg");
}

.photo-3 {
    background-image: url("https://kiyutink.github.io/tokyo/tokyo1.jpg");
}

.photo-4 {
    background-image: url("https://kiyutink.github.io/london/london1.jpg");
}

.photo-5 {
    background-image: url("https://kiyutink.github.io/moscow/moscow1.jpg");
}

.photo-6 {
    background-image: url("https://kiyutink.github.io/madrid/madrid1.jpg");
}

.photo-7 {
    background-image: url("https://kiyutink.github.io/la/la2.jpg");
}

.photo-8 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/450545/profile/profile-512.jpg?3);
}

.animation {
    transition: all 0.3s ease;
}

.app-footer {
    /*height: 4rem;*/
    width: 100%;
    position: absolute;
    z-index: 200;
    bottom: 0;
    /*margin-top: auto;*/
}

.app-footer-login {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*transform: translateY(-50%);*/
    /*top: 50%; !* 부모 요소 중앙으로 정렬 *!*/

    position: absolute;
    bottom: 10%; /* 수정: 중간 위치로 이동 */
    width: 100%;

    align-items: center; /* 세로 가운데 정렬 */
    flex-direction: column; /* 버튼을 세로로 정렬합니다. */
}

.app-footer-login form {
    text-align: center; /* 입력 요소를 중앙 정렬 */
}

.signup-id-label {
    color: #f3cc18;
    font-family: "Courgette", sans-serif;
}

.signup-input-box{
    font-family: "SDSamliphopangche_Basic", sans-serif;
    width: 85%;
    font-size: 0.9rem;
}

a {
    color: #181f57;
}

.button {
    width: 85%;
    margin: 0.5rem auto;
    height: 2rem;
    background: #3949d5;
    color: white;
    font-family: "SDSamliphopangche_Basic", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    line-height: 3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;

    border-radius: 2rem;
}

.button a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none; /* 밑줄 제거 */
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* 버튼을 아래 정렬합니다. */
}

.button-center {
    display: flex;
    flex-direction: column; /* 추가: 세로로 버튼 정렬 */
    align-items: center; /* 추가: 세로 가운데 정렬 */
    width: 100%;
}

.button-row button {
    flex: 1;
}

.button:hover {
    background-color: #148ef1; /* 마우스를 가져다 댔을 때 배경색을 흰색으로 변경 */
    color: #ffffff; /* 마우스를 가져다 댔을 때 텍스트 색상을 원래 색으로 변경 */
    /*box-shadow: 0 0 10px #181f57; !* 선택 효과(섀도우) 추가 *!*/
}

.button:active {
    transform: translate3d(0, 2px, 0);
}

/*로그인 버튼 */
.button-login {
    width: 85%;
    margin: 0.5rem auto;
    height: 2rem;
    background: #f3cc18;
    color: #070c2c;
    font-family: "SDSamliphopangche_Basic", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    line-height: 3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;

    border-radius: 2rem;
}

.button-login a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none; /* 밑줄 제거 */
}

.button-login-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* 버튼을 아래 정렬합니다. */
}

.button-login-center {
    display: flex;
    flex-direction: column; /* 추가: 세로로 버튼 정렬 */
    align-items: center; /* 추가: 세로 가운데 정렬 */
    width: 100%;
    margin: 0.5rem 0; /* 버튼 그룹 사이에 여백을 추가합니다. */
}

.button-login-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.button--login row button {
    flex: 1;
}

.button-login:hover {
    background-color: #148ef1; /* 마우스를 가져다 댔을 때 배경색을 흰색으로 변경 */
    color: #ffffff; /* 마우스를 가져다 댔을 때 텍스트 색상을 원래 색으로 변경 */
    /*box-shadow: 0 0 10px #181f57; !* 선택 효과(섀도우) 추가 *!*/
}

.button-login:active {
    transform: translate3d(0, 2px, 0);
}





/*주소 검색 창*/
.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    border: 2px solid #3949d5;
    border-radius: 9px; /* 테두리의 모서리를 둥글게 만듭니다. */

}

.form-control {

}

.btn {
    background-color: #3949d5; /* 배경색 지정 */
    color: white; /* 텍스트 색상 */
}
.btn:hover {
    background-color: #148ef1; /* 마우스를 가져다 댔을 때 배경색을 흰색으로 변경 */
    color: #ffffff; /* 마우스를 가져다 댔을 때 텍스트 색상을 원래 색으로 변경 */
    /*box-shadow: 0 0 10px #181f57; !* 선택 효과(섀도우) 추가 *!*/
}