<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<script type="text/javascript">
</script>
</head>

<h3 th:text="${nickname}">NickName</h3>

<a href="http://localhost:8080/api/auth/logout">로그아웃</a>
<a href="http://localhost:8080/api/auth/regenerate">재발급</a>


<h2>로그인 페이지</h2>

<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=0c3c82e2bab1baa630c741b2c9f72e3c&redirect_uri=http://localhost:8080/api/auth/login" class="kakao-login">카카오 로그인</a>

<h1> hello </h1>
<div>

    <h1 class="display-5 fw-bolder text-white mb-2">Navigation</h1>
    <p class="lead fw-normal text-white-50 mb-4">기본 길찾기 기능 <br></p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        <a class="btn btn-outline-light btn-lg px-4" href="/navigation">navigation</a>
    </div>
</div>


</body>
</html>