<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <!--    부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<!--    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">-->
<!--    <meta name="apple-mobile-web-app-title" content="CodePen">-->

    <script src="https://use.fontawesome.com/webfontloader/1.6.24/webfontloader.js"></script><script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>

    <link rel="canonical" href="https://codepen.io/rnzpsgwg-the-styleful/pen/qBgWoLB">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Oxygen+Mono|Lato:400,700" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" width="device-width">
    <script src="https://use.fontawesome.com/798759b2a2.js"></script>

    <link rel="stylesheet" href="/css/codePen.css">

    <title>로그인 페이지</title>
</head>
<body>

<div>

    <div class="demo-container">
        <div class="phone-screen-login">

            <div class="app">
                <div class="app-header-login">
                    <div class="app-caption-login">Random Route Service</div>
                  <div class="button-login">
                      <a class="button-login-link" id="login-kakao-btn" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=793210a131c7da0427e26618e55cec5a&redirect_uri=http://localhost:8080/api/user/kakao/callback&response_type=code'">
                            카카오 로그인하기
                      </a>
                  </div>

                </div>
            </div>
            <div class="app-footer-login"  id="login-form">
                <div class="button-login-center">

                </div>
                <div class="button-login-center">
                    <div class="button-login">
<!--                        <a class="button-login-link" href="/api/navigation">회원 가입하기</a>-->
                        <a class="button-login-link" id="login-id-btn" onclick="location.href='/view/user/signup'">
                            회원 가입하기
                        </a>
                    </div>
                </div>

                <div class="button-login-center">
                    <div class="login-id-label"></div>
                    <input type="text" name="username" id="username" placeholder="아이디" class="login-input-box">

                    <div class="login-id-label"></div>
                    <input type="password" name="password" id="password" placeholder="비밀번호" class="login-input-box">

                    <button class="button-login" id="login-id-submit" onclick="onLogin()" >로그인</button>
                </div>
            </div>
        </div>

    </div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script id="rendered-js"></script>

</div>


</body>

<script>
    $(document).ready(function () {
        // 토큰 삭제
        Cookies.remove('Authorization', {path: '/'});
    });

    const href = location.href;
    const queryString = href.substring(href.indexOf("?") + 1)
    if (queryString === 'error') {
        const errorDiv = document.getElementById('login-failed');
        errorDiv.style.display = 'block';
    }

    const host = 'http://' + window.location.host;

    function onLogin() {
        let username = $('#username').val(); // #->id 그 value값을 가져옴
        let password = $('#password').val();

        $.ajax({
            type: "POST",
            url: `/view/user/login`, // 최종 request 값을 컨트롤러로
            contentType: "application/json",
            data: JSON.stringify({username: username, password: password}), // 키 : 값 으로 매핑 , 키 = dtd 필드
        })
            .done(function (res, status, xhr) {
                const token = xhr.getResponseHeader('Authorization');

                Cookies.set('Authorization', token, {path: '/'})

                $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                    jqXHR.setRequestHeader('Authorization', token);
                });

                window.location.href = '/view/home';
            })
            .fail(function (jqXHR, textStatus) {
                alert("Login Fail");
                window.location.href = host + '/view/user/login-page?error'
            });
    }



    $(document).ready(function() {
        $('#login-kakao-btn').click(function() {
            window.location.href = 'https://kauth.kakao.com/oauth/authorize?client_id=793210a131c7da0427e26618e55cec5a&redirect_uri=http://localhost:8080/api/user/kakao/callback&response_type=code';
        });

        $('#login-id-btn').click(function() {
            window.location.href = '/view/user/signup';
        });
    });



</script>

</html>
