<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>Random Search</title>
    <!--  <link rel="stylesheet" href="/css.css">-->

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="/css/codePen.css">
</head>
<body>
<div class="demo-container">
    <div class="phone-screen">
        <div class="app">
            <div class="app-header">
                <div class="app-caption">Random Waypoints</div>
            </div>
            <div class="kr0">목적지, 반경 기반 랜덤 길찾기</div>
            <div class="kr1">
                <form id="random-search-form">
                    <label for="all-random-originAddress" class="search2 kr-font">출발지 검색하기</label><br>
<!--                    id="random-originAddress -> id="all-random-originAddress"-->
                    <input class="kr2" type="text" id="all-random-originAddress" name="all-random-originAddress" placeholder="출발지를 입력하세요" aria-label="Search" aria-describedby="search-addon">
                    <div class="btn-group" role="group" aria-label="Default button group">
                        <button type='button' class='w-btn2 w-btn-indigo' id='random-search-origin'>도로명</button>
                        <button type='button' class='w-btn2 w-btn-indigo' id='all-random-search-keyword'>키워드</button>
                        <button type='button' class='w-btn2 w-btn-indigo' id='random-current-location'>현 위치
                        </button>
                    </div>

                    <!-- 키워드 모달 밖으로 이동 출발지-->
                    <div id="keyword-modal" class="modal">
                        <div class="modal-content">
                            <span class="close-btn">×</span>
                            <input type="text" id="keyword-input" placeholder="키워드를 입력하세요">
                            <button type='button' id='keyword-search-btn'>검색</button>
                        </div>
                    </div>

                        <label for="random-destinationAddress" class="search2 kr-font">목적지 검색하기</label><br>
                        <input class="kr2" type="text" id="random-destinationAddress" name="random-destinationAddress"
                               placeholder="목적지를 입력하세요">
                    <div class="btn-group" role="group" aria-label="Default button group">
                        <button type='button' class='w-btn2 w-btn-indigo' id='random-search-destination'>도로명</button>
                        <button type='button' class='w-btn2 w-btn-indigo' id='all-random-search-keyword-destination'>키워드</button>
                    </div>

                    <!-- 키워드 모달 밖으로 이동 목적지-->
                    <div id="keyword-modal-destination" class="modal">
                        <div class="modal-content">
                            <span class="close-btn">×</span>
                            <input type="text" id="keyword-input-destination" placeholder="키워드를 입력하세요">
                            <button type='button' id='keyword-search-btn-destination'>검색</button>
                        </div>
                    </div>

                    <label for="random-redius" class="search2 kr-font">반경:</label><br>
                    <input class="kr2" type="text" id="random-redius" name="random-redius"
                           placeholder="반경을 입력하세요"><br>

                    <button type='submit' class='w-btn2 w-btn-indigo'>길 찾기</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 여기에 실제 자바스크립트 파일 경로를 입력하세요 -->
<script src="/js/waypoints.js" type="text/javascript"></script>
<script src="/js/keyword.js" type="text/javascript"></script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!-- 카카오 우편번호 서비스 -->

</body>
</html>