<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">


    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <!--    부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


    <script src="https://use.fontawesome.com/webfontloader/1.6.24/webfontloader.js"></script><script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>

    <link rel="canonical" href="https://codepen.io/rnzpsgwg-the-styleful/pen/qBgWoLB">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Oxygen+Mono|Lato:400,700" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" width="device-width">
    <script src="https://use.fontawesome.com/798759b2a2.js"></script>

    <link rel="stylesheet" href="/css/codePen.css">
    <title>회원가입 페이지</title>

</head>


<body>

<div>

    <div class="demo-container">
        <div class="phone-screen-login">

            <div class="app">
                    <div class="app-caption-login">Random Route Service</div>
                <div class="app-footer-login" >

                <div >
                    <form id="signupForm" action="/api/user/signup" method="post">
                        <div class="signup-id-label" ></div>

                        <div class="signup-id-label" >Username</div>
                        <input type="text" id="username" placeholder="아이디는 소문자 및 숫자로 구성된 4~10자의 문자열이어야 합니다." class="signup-input-box">

                        <div class="signup-id-label">Password</div>
                        <input type="password"  id="password" placeholder="비밀번호는 대소문자, 숫자로만 구성된 8~15자의 문자열이어야 합니다." class="signup-input-box">


                        <div class="signup-id-label">E-mail</div>
                        <input type="text"  id="email" placeholder="E-mail" class="signup-input-box">


                        <button type="button" class="button-login" id="login-id-submit" onclick="submitSignup(event)" >회원 가입</button>
<!--                        onclick="submitSignup()"-->
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script id="rendered-js"></script>

</div>


</body>

<script>

    function submitSignup(event) {
        event.preventDefault(); // 이벤트 기본 동작을 취소
        console.log("회원가입 함수 실행"); // 확인을 위한 로그

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const email = document.getElementById('email').value;

        const formData = {
            username: username,
            password: password,
            email: email,
        };

        console.log(formData); // 데이터 확인 로그

        $.ajax({
            type: 'POST',
            url: '/api/user/signup',
            data: JSON.stringify(formData),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json', // 응답을 JSON 형식으로 파싱합니다.
            success: function (response) {
                alert(response.msg); // 성공 메시지를 표시합니다.
                window.location.href = '/view/user/login-page'; // 홈 페이지로 리다이렉션합니다.
            },
            error: function (response) {
                console.log('서버로부터 오류 응답 :', response); // 오류 응답 로깅
                console.log('서버로부터 오류 응답 :', response.responseText);

                //response에서 JSON 데이터 추출
                var errors = JSON.parse(response.responseText);
                var errorMessage = "";

                // 일반 오류 메시지 처리
                if(errors.message) {
                    errorMessage += errors.message + "\n";
                }

                // 오류 메시지를 보기 좋게 줄 바꿈하여 표시
                // @Valid 예외 처리

                if(errors.password) {
                    errorMessage += "password: " + errors.password + "\n"; // 비밀번호 오류 메시지
                }
                if(errors.email) {
                    errorMessage += "email: " + errors.email + "\n"; // 이메일 오류 메시지
                }
                if(errors.username) {
                    errorMessage += "username: " + errors.username + "\n"; // 사용자 이름 오류 메시지
                }
                // 구성된 오류 메시지를 alert 창에 표시
                alert(errorMessage);

            }
        });
    }

    //-> validexceptionhandler만 사용하면 해당 데이터를 json으로 가져오나
    // 다른 exception 클래스를 키면 안된다.
    // response에서 JSON 데이터 추출
    // var errors = JSON.parse(response.responseText);
    //
    // // 오류 메시지를 보기 좋게 줄 바꿈하여 표시
    // var errorMessage = "";
    // if(errors.password) {
    //     errorMessage += "password: " + errors.password + "\n"; // 비밀번호 오류 메시지
    // }
    // if(errors.email) {
    //     errorMessage += "email: " + errors.email + "\n"; // 이메일 오류 메시지
    // }
    // if(errors.username) {
    //     errorMessage += "username: " + errors.username + "\n"; // 사용자 이름 오류 메시지
    // }
    // // 구성된 오류 메시지를 alert 창에 표시
    // alert(errorMessage);


    // 다른 exception 클래스를 키면 -> 모든 응답에 대해서 보여주는 곳
    // if (response.status === 400) {
    //     var message = "오류:\n";
    //     if(response.responseJSON) { // 서버 응답이 JSON 형태인 경우
    //         var errors = response.responseJSON;
    //         if(errors.errors) { // 'errors' 필드가 존재하는 경우
    //             errors.errors.forEach(function(error) {
    //                 message += "- " + error.defaultMessage + "\n";
    //             });
    //         } else {
    //             message += errors.message; // 'message' 필드가 있는 경우
    //         }
    //     } else { // 서버 응답이 단순 문자열인 경우
    //         message += response.responseText;
    //     }
    //     alert(message); // 생성된 문자열을 사용자에게 표시합니다.
    // } else {
    //     // 기타 오류 처리
    //     alert('서버 오류가 발생했습니다. 나중에 다시 시도해 주세요.');


</script>
</html>